@import url('https://fonts.cdnfonts.com/css/amstelvaralpha');

.brand-txt {
    color: var(--Dark, #000);
    font-family: AmstelvarAlpha;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.account-text {
    color: var(--Black, #1E2832);
    font-feature-settings: 'clig' off, 'liga' off;

    /* Button */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    margin-left: '1.5rem';
}